@page
@model FinalProject.Pages.Games.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h2>Game</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Game.GameTitle" class="control-label"></label>
                <input asp-for="Game.GameTitle" class="form-control" />
                <span asp-validation-for="Game.GameTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Rating" class="control-label"></label>
                <input asp-for="Game.Rating" class="form-control" />
                <span asp-validation-for="Game.Rating" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Game.Price" class="control-label"></label>
                <input asp-for="Game.Price" class="form-control" />
                <span asp-validation-for="Game.Price" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Game.GameConsole" class="control-label"></label>
                <input asp-for="Game.GameConsole" class="form-control" />
                <span asp-validation-for="Game.GameConsole" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Game.Publisher" class="control-label"></label>
                <input asp-for="Game.Publisher" class="form-control" />
                <span asp-validation-for="Game.Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Game" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
