@page
@model Final_Project_Alpha.Pages.Games.ShowGameModel
@{
    ViewData["Title"] = "Blog Page";
}
<h3>DB Page</h3>
<hr />
<p>List of Games:</p>
@foreach (var GameTitle in Model.Game)
{
    <p>@Html.DisplayFor(modelItem => b.Title)</p>
}
