@page
@model Final_Project_Alpha.Pages.Games.ShowGameModel
@{
    ViewData["Title"] = "Game Page";
}
<h3>Your Games</h3>
<hr />
<p>List of Games:</p>
@foreach (var Game in Model.Games)
{
    <p>@Html.DisplayFor(modelItem => Model.Games)</p>
}
