@page
@model Final_Project_Alpha.Pages.Games.ShowGameModel
@{
    ViewData["Title"] = "GameList Page";
}
<h3>DB Page</h3>
<hr />
<p>List of Games:</p>
@foreach (var Game in Model.Game)
{
    <p>@Html.DisplayFor(modelItem =Game.GameTitle)</p>
}
