@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Your Gaming Database</h1>
    <p>Please make a selection:</p>
</div>

public async Task<IActionResult> Index(string searchString)
{
    var Games = from m in _context.Games
                 select m;

    if (!String.IsNullOrEmpty(searchString))
    {
        Games = Games.Where(s => s.Title.Contains(searchString));
    }

    return View(await movies.ToListAsync());
}