@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><b>The Online Gaming Database</b></h1>
        <br>
    <h3>Please make a selection:</h3>
        <br>
        <br>
        <br>

    <h4><button><a class="nav-link text-dark" asp-area="" asp-page="/Games/AddPublisher">Add A Publisher</a></button></h4>
    <br>
    <br>

    <h4><button><a class="nav-link text-dark" asp-area="" asp-page="/Games/Create">Add A Game</a></button></h4>
    <br>
    <br>
    <h4><button><a class="nav-link text-dark" asp-area="" asp-page="/Games/ShowGames">Show Your Games</a></button></h4>

    

</div>

